body{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	box-sizing: border-box;
	
}

.nav_bar{
	background-color: grey;
	border: 2px solid black;
	margin:0;
}
.navbar-brand a{
	margin: 0;
	padding:0;
	font-size: 1.5em;
	margin:5px;
	color: black;
	font-weight: bold;
}
.navbar-brand a:hover{
	text-decoration: none;
	
}

.main_title{
	color: black;
	padding: 5px;
	margin-bottom: 15px;
	font-weight: bold;
}

.main_content{
	
	padding: 5px;
	margin: 10px;
}

.item{
	height: 700px;
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: grey;
	padding: 20px;
	text-align: justify;
	color: black;
	
}

#chicken, #beef, #sushi{
	color: black;
	font-size:1.4em;
	padding: 2px;
	margin:5px;
	margin-top: 0;
	padding-top: 0;
	font-weight: bold;

	
}

.footer{
	height: 300px;
	background: white;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: black;
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	background-color: white;
	

}

#nav-list a:hover{
	text-shadow: 1px 1px 2px #000;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid black;
}

